.blog{
    display: flex;
  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    
    
    flex:1;
  }

  .blogItem{

    margin-top: 20px;
    
  }

  .main {
    display: flex;
  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
    padding-bottom: 5rem;
  
    flex:1;
  }
  .blogItemp{
      max-width: 500px;
      padding: 10px
    }